:root {
    --primary-color: #29353C;
    --secondary-color: #44576D;
    --font-color: #768A96;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #ddd;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64; }

[data-theme="dark"] {
    --primary-color: #AAC7D8;
    --secondary-color: #DFEBF6;
    --font-color: #E6E6E6;
    --bg-color: #0b0d0e;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #131617;
    --dropdown-color: #191c1d;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617; }

.noscroll {
    overflow: hidden;
    height: 100vh; }

html {
    scroll-behavior: smooth; }

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background: var(--bg-color);
    color: var(--font-color); }

body a,
button,
.btn {
    cursor: pointer !important;
    font-family: 'Jost', sans-serif; }

.clear {
    clear: both; }

.img-responsive {
    max-width: 100%;
    display: block; }

.d-grid {
    display: grid; }

.align-self {
    align-self: center; }

button,
input,
select,
label,
li {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Jost', sans-serif; }

body a,
button,
.btn {
    cursor: pointer !important; }

a,
a:hover {
    text-decoration: none; }

iframe {
    border: none;
    display: block; }

ul {
    margin: 0;
    padding: 0; }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: 'Jost', sans-serif; }

p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Jost', sans-serif; }

li {
    list-style-type: none; }

p.white {
    color: #eee; }

.align-center {
    align-self: center; }

.noscroll {
    min-height: 100vh;
    overflow: hidden; }

.radius-image {
    border-radius: var(--border-radius); }

/*-- container --*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

@media (min-width: 5147px) {
    .container {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto; } }

@media (min-width: 1478px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto; } }

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto; } }

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto; } }

@media (min-width: 1280px) {
    .container {
        max-width: 1200px; } }

/*-- //container --*/
/*-- play icon animation --*/
@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(147, 107, 232, 0.15), 0 0 0 10px rgba(147, 107, 232, 0.15), 0 0 0 20px rgba(147, 107, 232, 0.15); }
    100% {
        box-shadow: 0 0 0 10px rgba(147, 107, 232, 0.15), 0 0 0 20px rgba(147, 107, 232, 0.15), 0 0 0 40px rgba(50, 100, 245, 0); } }

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(147, 107, 232, 0.15), 0 0 0 10px rgba(147, 107, 232, 0.15), 0 0 0 20px rgba(147, 107, 232, 0.15); }
    100% {
        box-shadow: 0 0 0 10px rgba(147, 107, 232, 0.15), 0 0 0 20px rgba(147, 107, 232, 0.15), 0 0 0 40px rgba(50, 100, 245, 0); } }

/*-- //play icon animation --*/
.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius); }

.border-btn {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px; }

.btn-white {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    background-color: #fff;
    color: var(--primary-color); }

a.link-style {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 600;
    display: inline-block; }

a.link-style:before {
    position: absolute;
    content: '';
    background: var(--primary-color);
    width: 0px;
    height: 1px;
    bottom: 13px;
    transition: all 0.5s ease; }

a.link-style:hover:before {
    width: 100px;
    transition: all .5s; }

.grids-gap {
    padding-top: 20px; }

.title-big {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px; }

.title-big span {
    font-weight: 100; }

.title-small {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2; }

.title-small span {
    color: var(--heading-color); }

@media (max-width: 1080px) {
    .title-big {
        font-size: 35px;
        line-height: 40px; } }

@media (max-width: 600px) {
    .title-big {
        font-size: 32px;
        line-height: 38px; } }

@media (max-width: 378px) {
    .title-big {
        font-size: 27px !important;
        line-height: 32px; } }

@media (max-width: 375px) {
    .btn-white,
    .btn-style {
        padding: 12px 30px; }
    .title-small {
        font-size: 14px;
        letter-spacing: .5px; } }

/*-- toggle switch --*/
.theme-switch-wrapper {
    display: flex;
    align-items: center; }

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem; }

.theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    margin: 0; }

.theme-switch input {
    display: none; }

/*-- //toggle switch --*/
/*-- dark and light mode styling --*/
.mode-container {
    width: 24px;
    height: 24px;
    padding: 3px 0;
    margin-left: 20px; }

.gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent; }

.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent; }

.gg-moon,
.gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%; }

.gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px; }

.gg-sun,
.gg-sun:after,
.gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px; }

.gg-sun:after,
.gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px; }

.gg-sun:before {
    transform: rotate(-45deg); }

.gg-sun:after {
    transform: rotate(45deg); }

.mode-container i.gg-sun {
    display: none; }

.mode-container i.gg-moon {
    display: block; }

input:checked + .mode-container i.gg-sun {
    display: block; }

input:checked + .mode-container i.gg-moon {
    display: none; }

/*-- //dark and light mode styling --*/
button.navbar-toggler .icon-close {
    display: block; }

button.navbar-toggler .icon-expand {
    display: none; }

button.navbar-toggler.collapsed .icon-close {
    display: none; }

button.navbar-toggler.collapsed .icon-expand {
    display: block; }

.phone a {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500; }

.phone a:hover {
    text-decoration: underline; }

.phone a span {
    opacity: 0.5;
    color: var(--secondary-color); }

header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05); }

.navbar {
    padding: 0; }

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--primary-color); }

.navbar .navbar-brand span.fa {
    display: inline-block;
    color: var(--primary-color); }

.navbar .navbar-brand:hover {
    opacity: 0.95; }

.navbar .navbar-brand img {
    max-width: 140px;
    transition: all 0.5s ease; }

.navbar-expand-lg .navbar-nav .nav-link span.fa {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600; }

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: var(--primary-color);
    width: 0px;
    height: 1px;
    bottom: 13px; }

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 100%; }

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative; }

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: var(--primary-color); }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary-color); }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary-color); }

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: var(--heading-color); }

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--primary-color); }

a.dropdown-item {
    font-weight: 400;
    font-size: 1.2em;
    position: relative;
    color: var(--heading-color);
    padding-top: 0;
    display: block;
    width: 100px;
    padding-bottom: 14px; }

a.dropdown-item:hover {
    color: var(--primary-color); }

a.dropdown-item.active {
    background-color: transparent;
    color: var(--primary-color); }

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px); }

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--dropdown-color);
    border: 1px solid var(--border-color);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001; }

header.nav-fixed {
    padding: 0px;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05); }

.navbar-dark .navbar-nav .show >,
.navbar-dark .navbar-nav .nav-link.show {
    color: var(--para-color); }

nav ul li {
    display: inline-block; }

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s; }

nav ul li a:hover {
    color: #fff; }

.navbar-dark .navbar-nav .nav-link:focus {
    color: #eee; }

.dropdown-toggle::after {
    display: none; }

.dropdown-menu {
    border-radius: var(--border-radius);
    background: var(--dropdown-color);
    border: 1px solid var(--border-color);
    min-width: 13rem;
    padding: 1rem 0 .3rem; }

.nav-fixed .phone a span {
    opacity: 1;
    color: var(--primary-color); }

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
    color: var(--primary-color); }

.nav-fixed .navbar-expand-lg .navbar-brand {
    color: var(--primary-color); }

.nav-fixed .navbar-expand-lg .navbar-brand span {
    color: var(--primary-color); }

.dropdown-item:hover, .dropdown-item:focus {
    color: var(--text-color);
    text-decoration: none;
    background-color: transparent; }

@media only screen and (max-width: 1440px) {
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 10px; }
    .navbar-expand-lg .nav_btn > li {
        padding: 0; } }

@media only screen and (max-width: 1199px) {
    .navbar .navbar-brand img {
        max-width: 109px; }
    .navbar-expand-lg .btn-gradient {
        padding: 10px 20px;
        font-size: 14px; }
    .navbar-expand-lg .navbar-nav.nav_btn > li {
        margin-left: 0px; }
    .navbar-expand-lg .navbar-nav.nav_btn a.btn {
        padding: 10px 20px; }
    .navbar-expand-lg .navbar-nav.nav_btn a {
        font-size: 14px;
        padding: 0px; } }

@media only screen and (max-width: 991px) {
    .popup {
        display: none; }
    a.nav-link:before,
    a.dropdown-item:before {
        display: none; }
    a.dropdown-item {
        width: auto; }
    .mobile-position {
        position: absolute;
        right: 40px;
        top: 13px; }
    .navbar .navbar-brand img {
        max-width: 140px; }
    .navbar-toggler {
        border: 0 none;
        font-size: 22px; }
    .navbar-nav {
        -webkit-animation-name: none;
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0; }
    .navbar-nav:last-child {
        border: 0; }
    .navbar-expand-lg .navbar-nav .nav-item {
        -webkit-animation-name: none;
        animation-name: none;
        padding: 0; }
    .navbar-expand-lg .navbar-nav.nav_btn > li {
        padding-bottom: 10px; }
    .navbar-nav .dropdown-menu {
        text-align: center; }
    .navbar-nav .dropdown-menu .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.3); }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
        bottom: 0; }
    .navbar-expand-lg .navbar-nav .nav-link {
        display: inline-block;
        padding: 6px 0;
        text-align: center; }
    header {
        height: auto;
        padding: 15px 0; }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0px);
        border: 1px solid var(--border-color); }
    .phone {
        text-align: center; }
    .phone a {
        font-size: 18px;
        color: #fff;
        font-weight: 500; }
    .phone a span {
        color: #fff; }
    header.nav-fixed {
        height: auto;
        padding: 10px 0; }
    .navbar-expand-lg .navbar-nav .nav-link {
        display: block; }
    .navbar-dark .navbar-toggler-icon {
        background-image: none;
        padding: 0;
        width: 34px;
        height: 34px;
        display: inline-block;
        background: var(--primary-color);
        border-radius: 4px;
        text-align: center; }
    .navbar-toggler-icon.fa {
        line-height: 1.2em;
        color: #fff;
        line-height: 34px;
        background-color: var(--primary-color);
        border-radius: 5px; }
    .navbar-toggler {
        padding: 0rem 0rem !important; } }

@media only screen and (max-width: 767px) {
    #site-footer .copyright,
    #site-footer ul.footer-menu {
        text-align: center; } }

@media only screen and (max-width: 480px) {
    .navbar-brand img {
        max-width: 200px; }
    .navbar .navbar-brand {
        font-size: 30px; }
    .mobile-position {
        top: 10px; } }

.w3l-banner {
    margin-top: 90px;
    background-color: var(--bg-light); }

.w3l-banner h1.title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600; }

.w3l-banner h1.title span {
    font-weight: 300; }

.w3l-banner p.sample a {
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px; }

span.cursor {
    background: var(--heading-color);
    display: inline-block;
    margin-left: 0.3rem;
    width: 3px;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite; }

@media only screen and (max-width: 1080px) {
    .w3l-banner h1.title {
        font-size: 38px;
        line-height: 45px; } }

@media only screen and (max-width: 992px) {
    .w3l-banner {
        margin-top: 66px; } }

@media only screen and (max-width: 568px) {
    .w3l-banner img {
        max-width: 400px; }
    .w3l-banner h1.title {
        font-size: 35px; } }

@media only screen and (max-width: 415px) {
    .w3l-banner h1.title {
        font-size: 32px;
        line-height: 34px; }
    .w3l-banner img {
        max-width: 100%; } }

.my-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
    margin-top: 30px; }

.single-info p {
    display: inline-block; }

.single-info span {
    color: var(--heading-color);
    font-weight: 400;
    margin-right: 10px;
    font-weight: 600;
    font-size: 1.2em;
    min-width: 60px; }

.w3l-resume {
    background: var(--bg-light); }

.w3l-footer {
    border-top: 1px solid var(--border-color); }
.w3l-footer ul.social li {
    display: inline-block;
    margin-left: 6px; }
.w3l-footer ul.social li a {
    color: #aaa;
    width: 30px;
    display: block;
    text-align: center;
    font-size: 18px; }
.w3l-footer ul.social li a:hover {
    color: var(--primary-color); }
.w3l-footer #movetop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 48px;
    height: 48px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 50px;
    transition: 0.3s ease-out; }
.w3l-footer #movetop:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    transition: 0.3s ease-out; }
@media only screen and (max-width: 991px) {
    .w3l-footer .footer-left {
        text-align: center; } }

.w3l-services .card {
    border: none;
    background: none; }

.w3l-services .box-wrap {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
    position: relative;
    margin-bottom: 20px;
    border: 1px solid var(--bg-light); }

.w3l-services .box-wrap:hover {
    background: var(--bg-color);
    border: 1px solid var(--border-color); }

.w3l-services .box-wrap:hover h4.number {
    opacity: .2;
    transition: 0.3s ease-in-out; }

.w3l-services .box-wrap img {
    max-width: 55px;
    display: block;
    margin: 0 auto; }

.w3l-services .icon span.fa {
    color: var(--primary-color);
    font-size: 30px; }

.w3l-services .box-wrap h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    color: var(--heading-color); }

.w3l-services .box-wrap h4 a:hover {
    color: var(--primary-color); }

.w3l-services a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize; }

.w3l-services a.read:hover {
    color: var(--primary-color); }

.w3l-services h4.number {
    position: absolute;
    font-size: 60px;
    line-height: 60px;
    right: 40px;
    top: 30px;
    opacity: .07;
    transition: 0.3s ease-in-out; }

.w3l-services .box-wrap p {
    margin: 0; }

.w3l-services p.sample a {
    color: var(--heading-color);
    font-size: 1.1em; }

.w3l-services p.sample a:hover {
    color: var(--primary-color); }

@media only screen and (max-width: 384px) {
    .w3l-services .box-wrap {
        padding: 35px 25px; } }

.w3l-clients {
    background: var(--bg-color); }

.w3l-clients .testimonial {
    position: relative;
    overflow: hidden;
    text-align: left; }

.w3l-clients .testimonial-width {
    max-width: 1050px;
    margin: auto; }

.w3l-clients .testimonial {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: var(--bg-light);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03); }

.w3l-clients .testi-des {
    display: flex;
    text-align: center; }

.w3l-clients blockquote q {
    font-size: 1.2em;
    line-height: 28px;
    color: var(--para-color); }

.w3l-clients blockquote q::before {
    font-size: 50px;
    color: var(--primary-color);
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif; }

.w3l-clients .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%; }

.w3l-clients .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.w3l-clients .testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em; }

.w3l-clients .testimonial .peopl {
    margin: 0;
    margin-left: 20px;
    text-align: left; }

.w3l-clients .testimonial .peopl h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px; }

.w3l-clients p.indentity {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8; }

/*-- stats --*/
.w3l-stats {
    background: var(--bg-light); }

.stats_info p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 30px;
    margin-bottom: 0; }

.stats_info h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: var(--font-color);
    margin-top: 10px; }

.stats_info span.fa {
    font-size: 2.5em;
    color: var(--primary-color);
    margin: 0; }

.stats_bottom_grid_left img {
    margin: 0 auto; }

.stats_info {
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none; }

.stats_info:nth-child(3) {
    border-right: 0px; }

.stats_info:nth-child(2) {
    border-left: 0px;
    border-right: 0px; }

@media (max-width: 992px) {
    .stats_info p {
        font-size: 40px;
        line-height: 50px; }
    .stats_info h4 {
        font-size: 18px; } }

@media (max-width: 737px) {
    .stats_info {
        padding: 0 5px !important; }
    .stats_info p {
        font-size: 35px;
        line-height: 38px;
        margin-top: 20px; }
    .stats_info h4 {
        font-size: 17px; } }

@media (max-width: 415px) {
    .stats_info span.fa {
        font-size: 2em; } }

/*--//stats--*/
.w3l-index5 {
    background: var(--bg-light); }

.w3l-index5 .new-block {
    display: grid;
    align-items: center;
    padding: 2rem 0; }

.w3l-index5 .middle-section {
    max-width: 950px;
    margin: 0 auto; }

.w3l-index5 .middle-section h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 500; }

.w3l-index5 span.video-play-icon {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite; }

.w3l-index5 span.video-play-icon span {
    color: var(--primary-color); }

.w3l-index5 span.video-play-icon:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out; }

.w3l-index5 span.fa.fa-play {
    line-height: 55px; }

.w3l-index5 .history-info {
    max-width: 700px;
    margin: 0 auto; }

.w3l-index5 .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px); }

@media (max-width: 800px) {
    .w3l-index5 .middle-section h2 {
        font-size: 40px;
        line-height: 50px; } }

@media (max-width: 667px) {
    .w3l-index5 .middle-section h2 {
        font-size: 32px;
        line-height: 42px; } }

.w3l-aboutblock1 ul.social li {
    display: inline-block;
    margin-left: 6px; }

.w3l-aboutblock1 ul.social li a {
    color: #aaa;
    width: 32px;
    display: block;
    text-align: center; }

.w3l-aboutblock1 ul.social li a span.fa {
    font-size: 22px;
    line-height: 32px; }

.w3l-aboutblock1 ul.social li a:hover {
    color: var(--primary-color); }

.w3l-aboutblock1 ul.social:before {
    background-color: #999;
    content: '';
    height: 2px;
    margin-right: 10px;
    width: 60px;
    display: inline-block;
    vertical-align: middle; }

.w3l-aboutblock1 .my-social {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 50px; }

@media only screen and (max-width: 500px) {
    .w3l-aboutblock1 .my-social {
        grid-gap: 20px; }
    .w3l-aboutblock1 ul.social:before {
        margin-right: 5px;
        width: 50px; }
    .w3l-aboutblock1 .my-info {
        grid-template-columns: 1fr; } }

@media only screen and (max-width: 454px) {
    .w3l-aboutblock1 .my-social {
        grid-template-columns: auto; }
    .w3l-aboutblock1 a.btn {
        order: 2; } }

.w3l-about-breadcrumb {
    margin-top: 90px;
    background: var(--bg-light); }
.w3l-about-breadcrumb h2.title {
    font-size: 50px;
    font-weight: 500; }
.w3l-about-breadcrumb .breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize; }
.w3l-about-breadcrumb .breadcrumbs-custom-path li span.fa {
    font-size: 12px;
    vertical-align: 2px; }

@media only screen and (max-width: 991px) {
    .w3l-about-breadcrumb {
        margin-top: 80px; }
    .w3l-about-breadcrumb h2.title {
        font-size: 40px; } }

@media only screen and (max-width: 480px) {
    .w3l-about-breadcrumb {
        margin-top: 75px; }
    .w3l-about-breadcrumb h2.title {
        font-size: 32px; }
    .w3l-about-breadcrumb .breadcrumbs-custom-path li {
        font-size: 1.1em; } }

.features-w3pvt-main h4 a {
    font-size: 28px;
    line-height: 34px;
    color: var(--heading-color);
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px; }

.features-w3pvt-main span.fa {
    font-size: 2em;
    margin-top: 5px;
    color: var(--primary-color); }

.features-w3pvt-main .features-hny-inner-gd:hover span {
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; }

@media only screen and (max-width: 480px) {
    .features-w3pvt-main h4 a {
        font-size: 24px; } }

.w3l-content-6 .progress {
    display: flex;
    height: 0.5em;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: var(--bg-light);
    border-radius: 0.25rem; }

.w3l-content-6 h3 {
    text-align: left; }

.w3l-content-6 .progress-info {
    margin-bottom: 30px;
    text-align: left; }

.w3l-content-6 .progress-bar {
    background-color: var(--primary-color);
    transition: width 0.6s ease; }

.w3l-content-6 .progress-bar-striped {
    background-image: none;
    background-size: 1rem 1rem; }

.w3l-content-6 h6.progress-tittle {
    font-size: 1.2em;
    color: var(--heading-color);
    margin-bottom: 10px;
    font-weight: 500; }

@media (max-width: 1440px) {
    .w3l-content-6 .counter-6-inf-left h4 {
        line-height: 70px;
        font-size: 50px;
        width: 60%; } }

@media (max-width: 991px) {
    .w3l-content-6 .content-gd:nth-child(2) {
        margin: 40px 0 0 0; } }

@media (max-width: 668px) {
    .w3l-content-6 .content-6-mian h4 {
        font-size: 20px; }
    .w3l-content-6 .content-6-mian h4 span {
        font-size: 30px;
        line-height: 40px; } }

@media (max-width: 568px) {
    .w3l-content-6 .content-6-mian h4 span {
        font-size: 26px;
        line-height: 26px; } }

.w3l-achievements .box-wrap {
    margin-bottom: 30px; }

.w3l-achievements .box-wrap h4 a {
    font-size: 28px;
    line-height: 34px;
    color: var(--heading-color);
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px; }

@media only screen and (max-width: 384px) {
    .box-wrap {
        padding: 35px 25px; }
    .w3l-achievements .box-wrap h4 a {
        font-size: 25px; } }

.abouthy-img-grids {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    display: grid; }

.img-one.content-mid {
    background: var(--bg-light);
    min-height: 100%;
    align-items: center;
    display: grid;
    padding: 0px 50px; }

.img-one.content-mid input {
    color: var(--font-color);
    background: transparent;
    padding: 0px 20px;
    font-size: 1.2em;
    outline: none;
    width: 350px;
    height: 65px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--border-color); }

.img-one.content-mid button {
    font-weight: 700;
    text-align: center;
    width: 143px;
    background: var(--primary-color);
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }

.img-one.content-mid h3 {
    align-self: end; }

.subscribe-form {
    display: flex;
    align-self: flex-start;
    margin-top: 30px; }

@media only screen and (max-width: 991px) {
    .img-one.content-mid {
        padding: 80px 50px; }
    .abouthy-img-grids {
        grid-template-columns: 0fr 1fr 0fr; } }

@media only screen and (max-width: 768px) {
    .img-one.content-mid input {
        width: 75%; } }

@media only screen and (max-width: 568px) {
    .img-one.content-mid {
        padding: 60px 15px;
        min-height: auto; }
    .img-one.content-mid input {
        width: 100%; } }

@media only screen and (max-width: 415px) {
    .subscribe-form {
        display: block;
        border-radius: var(--border-radius); }
    .img-one.content-mid button {
        width: 100%;
        margin-top: 10px;
        height: 65px;
        border-radius: var(--border-radius); } }

.port-image {
    width: 100%; }

.gallery_product {
    margin-bottom: 30px; }

.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden; }

.content .content-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s; }

.content:hover .content-overlay {
    opacity: 1; }

.content-image {
    width: 100%; }

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s; }

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1; }

.content-details h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px; }

.content-details p {
    color: #fff;
    font-size: 1.2em; }

/* contact1 */
.margin-up {
    margin-top: 2.5rem; }

.contact-view {
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 30px; }

.cont-top {
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px; }

.twice {
    margin-bottom: 20px; }

.cont-details h6 {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 600; }

.cont-details p,
.cont-details p a {
    font-size: 19px;
    line-height: 28px;
    color: var(--font-color);
    margin-top: 3px; }

.cont-details p a:hover {
    text-decoration: underline;
    opacity: 0.8;
    color: var(--heading-color); }

.cont-details address {
    margin: 25px 0; }

.cont-details address p {
    margin: 5px 0; }

.twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px; }

.map-content-9 form input,
.map-content-9 form textarea {
    background: var(--bg-light);
    border: 1px solid transparent;
    color: var(--font-color);
    font-size: 1.2em;
    padding: 12px 15px;
    width: 100%;
    border-radius: var(--border-radius);
    height: 55px; }

.map-content-9 h5 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    color: var(--heading-color); }

.map-content-9 form textarea {
    resize: none;
    min-height: 140px; }

.map-content-9 form input:focus,
.map-content-9 form textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
    box-shadow: none; }

.cont-details h6 a {
    color: var(--heading-color); }

.map-iframe iframe {
    -webkit-filter: var(--iframe-filter);
    -moz-filter: var(--iframe-filter);
    -ms-filter: var(--iframe-filter);
    -o-filter: var(--iframe-filter);
    filter: var(--iframe-filter); }

/* contact1-responsive */
@media (max-width: 992px) {
    .cont-details h5 {
        font-size: 32px;
        line-height: 35px; }
    .contact-view {
        grid-template-columns: 1fr; }
    .map-content-9 {
        margin-top: 20px; } }

@media (max-width: 480px) {
    .twice-two {
        grid-template-columns: 1fr; }
    button.btn-contact {
        width: 100%; }
    .margin-up {
        margin-top: 1.5rem; } }

/* / contact1-responsive */
/* /contact1 */
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative; }

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1; }

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none; }

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none; }

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block; }

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    border: none; }

.owl-carousel.owl-loading {
    opacity: 0;
    display: block; }

.owl-carousel.owl-hidden {
    opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }

.owl-carousel.owl-rtl {
    direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
    float: right; }

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
    z-index: 0; }

.owl-carousel .owl-animated-out {
    z-index: 1; }

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@keyframes fadeOut {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

.owl-height {
    transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none; }

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }

@media (max-width: 568px) {
    .owl-carousel .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled {
        display: none; } }

/**
  * Owl Carousel v2.3.4
  * Copyright 2013-2018 David Deutsch
  * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
  */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
    display: block; }

.owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    background: none; }

.owl-blog .owl-dots {
    display: none; }

.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 18px;
    margin: 0px;
    width: 50px;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 50px;
    line-height: 50px;
    border-radius: 50%; }

.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s ease-in-out; }

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
    outline: none;
    box-shadow: none; }

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px; }

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent; }

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #d8d8d8;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    position: relative; }

button.owl-next,
button.owl-prev {
    position: absolute;
    bottom: 50%; }

button.owl-prev {
    left: 10px; }

button.owl-next {
    right: 10px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color); }

@media all and (max-width: 640px) {
    .owl-dots {
        margin-top: 30px; }
    button.owl-next,
    button.owl-prev {
        position: absolute;
        bottom: 38%; } }

/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8; }

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; }

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box; }

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.mfp-align-top .mfp-container:before {
    display: none; }

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto; }

.mfp-ajax-cur {
    cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out; }

.mfp-zoom {
    cursor: pointer;
    cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
    cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.mfp-loading.mfp-figure {
    display: none; }

.mfp-hide {
    display: none !important; }

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044; }

.mfp-preloader a {
    color: #CCC; }

.mfp-preloader a:hover {
    color: #FFF; }

.mfp-s-ready .mfp-preloader {
    display: none; }

.mfp-s-error .mfp-content {
    display: none; }

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation; }

button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.mfp-close {
    line-height: 40px;
    position: absolute;
    right: 0px;
    top: -40px;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
    background: transparent; }

.mfp-close-btn-in .mfp-close {
    color: #fff; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%; }

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap; }

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
    margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
    left: 0; }

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
    right: 0; }

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }

.mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
    line-height: 0; }

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }

.mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto; }

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px; }

.mfp-image-holder .mfp-content {
    max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
       * Remove all paddings around the image on small screen
       */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0; }
    .mfp-img-mobile img.mfp-img {
        padding: 0; }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px; }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0; }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px; }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0; } }

@media all and (max-width: 900px) {
    .mfp-arrow {
        transform: scale(0.75); }
    .mfp-arrow-left {
        transform-origin: 0; }
    .mfp-arrow-right {
        transform-origin: 100%; }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px; } }

/* Styles for dialog window */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative; }

div#small-dialog iframe {
    width: 100%;
    height: 400px;
    display: block; }

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

/**
   * Fade-move animation for second dialog
   */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-out;
    transform: translateY(-20px) perspective(600px) rotateX(10deg); }

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: translateY(0) perspective(600px) rotateX(0); }

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    transform: translateY(-10px) perspective(600px) rotateX(10deg); }

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8; }

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0; }

/*# sourceMappingURL=style-starter.css.map */