:root {
    --primary-color: #29353C;
    --secondary-color: #44576D;
    --font-color: #768A96;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #ddd;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}

.noscroll {
    overflow: hidden;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background: var(--bg-color);
    color: var(--font-color);
}

body a,
button,
.btn {
    cursor: pointer !important;
    font-family: 'Jost', sans-serif;
}

.clear {
    clear: both;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.d-grid {
    display: grid;
}

.align-self {
    align-self: center;
}

button,
input,
select,
label,
li {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Jost', sans-serif;
}

body a,
button,
.btn {
    cursor: pointer !important;
}

a,
a:hover {
    text-decoration: none;
}

iframe {
    border: none;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: 'Jost', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Jost', sans-serif;
}

li {
    list-style-type: none;
}

p.white {
    color: #eee;
}

.align-center {
    align-self: center;
}

.noscroll {
    min-height: 100vh;
    overflow: hidden;
}

.radius-image {
    border-radius: var(--border-radius);
}

/*-- container --*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 5147px) {
    .container {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1478px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

/*-- //container --*/
.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    background-color: var(--widget-bg);
    border-color: var(--widget-bg);
}

.btn-style:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.border-btn {
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
}

a.link-style {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

a.link-style:before {
    position: absolute;
    content: '';
    background: var(--primary-color);
    width: 0;
    height: 1px;
    bottom: 13px;
    transition: all 0.5s ease;
}

a.link-style:hover:before {
    width: 100px;
    transition: all .5s;
}

.text-link {
    color: var(--primary-color);
}

.text-link:hover {
    color: var(--secondary-color);
}

.grids-gap {
    padding-top: 20px;
}

.title-big {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

.title-big span {
    font-weight: 100;
}

.title-small {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #8c89a2;
}

.title-small span {
    color: var(--heading-color);
}

@media (max-width: 1080px) {
    .title-big {
        font-size: 35px;
        line-height: 40px;
    }
}

@media (max-width: 600px) {
    .title-big {
        font-size: 32px;
        line-height: 38px;
    }
}

@media (max-width: 378px) {
    .title-big {
        font-size: 27px !important;
        line-height: 32px;
    }
}

@media (max-width: 375px) {
    .btn-white,
    .btn-style {
        padding: 12px 30px;
    }

    .title-small {
        font-size: 14px;
        letter-spacing: .5px;
    }
}

header {
    background-color: var(--bg-color);
    padding: 0;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.navbar {
    padding: 0;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--primary-color);
}

.navbar .navbar-brand span.fa {
    display: inline-block;
    color: var(--primary-color);
}

.navbar .navbar-brand:hover {
    opacity: 0.95;
}

.navbar .navbar-brand img {
    max-width: 140px;
    transition: all 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: var(--primary-color);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: var(--heading-color);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

a.dropdown-item {
    font-weight: 400;
    font-size: 1.2em;
    position: relative;
    color: var(--heading-color);
    display: block;
}

a.dropdown-item:hover {
    color: var(--primary-color);
}

a.dropdown-item.active {
    background-color: transparent;
    color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--dropdown-color);
    border: 1px solid var(--border-color);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

header.nav-fixed {
    padding: 0;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.banner {
    margin-top: 90px;
    background-color: var(--bg-light);
}

.banner h1.title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
}

.banner h1.title span {
    font-weight: 300;
}

.banner p.sample a {
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
}

.canvas-animation {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#canvas-anim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: -1;
}

span.cursor {
    background: var(--heading-color);
    display: inline-block;
    margin-left: 0.3rem;
    width: 3px;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@media only screen and (max-width: 1080px) {
    .banner h1.title {
        font-size: 38px;
        line-height: 45px;
    }
}

@media only screen and (max-width: 992px) {
    .banner {
        margin-top: 66px;
    }
}

@media only screen and (max-width: 568px) {
    .banner img {
        max-width: 400px;
    }

    .banner h1.title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 415px) {
    .banner h1.title {
        font-size: 28px;
        line-height: 32px;
    }

    .banner img {
        max-width: 100%;
    }
}

.my-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
    margin-top: 30px;
}

.single-info p {
    display: inline-block;
}

.single-info span {
    color: var(--heading-color);
    margin-right: 10px;
    font-weight: 600;
    font-size: 1.2em;
    min-width: 60px;
}

#education {
    background: var(--bg-light);
}

#education h3 {
    font-weight: 800;
}

#education span {
    font-weight: 200;
    text-transform: none;
    color: var(--font-color);
}

.footer {
    border-top: 1px solid var(--border-color);
}

.footer ul.social li {
    display: inline-block;
    margin-left: 6px;
}

.footer ul.social li a {
    color: #aaa;
    width: 30px;
    display: block;
    text-align: center;
    font-size: 18px;
}

.footer ul.social li a:hover {
    color: var(--primary-color);
}

.footer #movetop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 48px;
    height: 48px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 50px;
    transition: 0.3s ease-out;
}

.footer #movetop:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    transition: 0.3s ease-out;
}

@media only screen and (max-width: 991px) {
    .footer .footer-left {
        text-align: center;
    }
}

#portfolio .card {
    border: none;
    background: none;
}

#portfolio .box-wrap {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
    position: relative;
    margin-bottom: 20px;
    border: 1px solid var(--bg-light);
}

#portfolio .box-wrap:hover {
    background: var(--bg-color);
    border: 1px solid var(--border-color);
}

#portfolio .box-wrap:hover h4.number {
    opacity: .2;
    transition: 0.3s ease-in-out;
}

#portfolio .box-wrap img {
    max-width: 55px;
    display: block;
    margin: 0 auto;
}

#portfolio .icon span.fa {
    color: var(--primary-color);
    font-size: 30px;
}

#portfolio .box-wrap h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    color: var(--heading-color);
}

#portfolio .box-wrap h4 a:hover {
    color: var(--primary-color);
}

#portfolio a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--heading-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

#portfolio a.read:hover {
    color: var(--primary-color);
}

#portfolio h4.number {
    position: absolute;
    font-size: 60px;
    line-height: 60px;
    right: 40px;
    top: 30px;
    opacity: .07;
    transition: 0.3s ease-in-out;
}

#portfolio .box-wrap p {
    margin: 0;
    text-align: justify;
}

#portfolio p.sample a {
    color: var(--heading-color);
    font-size: 1.1em;
}

#portfolio p.sample a:hover {
    color: var(--primary-color);
}

@media only screen and (max-width: 384px) {
    #portfolio .box-wrap {
        padding: 35px 25px;
    }
}

/*--//programming languages--*/
#languages {
    background: var(--bg-light);
}

#languages .new-block {
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

#languages .middle-section {
    max-width: 950px;
    margin: 0 auto;
}

#languages .middle-section h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 500;
}

#languages i {
    font-size: 64px;
}

@media (max-width: 800px) {
    #languages .middle-section h2 {
        font-size: 40px;
        line-height: 50px;
    }
    #languages i {
        font-size: 48px;
    }
}

@media (max-width: 667px) {
    #languages .middle-section h2 {
        font-size: 32px;
        line-height: 42px;
    }
    #languages i {
        font-size: 32px;
    }
}